<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.bank.dao.EmployeeDao">
    <resultMap id="employeeMap" type="com.cn.bank.model.Employee">
        <result column="id" property="id"/>
        <result column="employee_id" property="employeeId"/>
        <result column="employee_bankId" property="employeeBankId"/>
        <result column="employee_name" property="employeeName"/>
        <result column="employee_role" property="employeeRole"/>
        <result column="employee_identity" property="employeeIdentity"/>
        <result column="employee_workDate" property="employeeWorkDate"/>
        <result column="employee_inDate" property="employeeInDate"/>
        <result column="employee_outDate" property="employeeOutDate"/>
        <result column="employee_address" property="employeeAddress"/>
        <result column="employee_speciality" property="employeeSpecialty"/>
        <result column="employee_inCome" property="employeeInCome"/>
    </resultMap>
    <select id="queryEmployeeInfosCount"  parameterType="string" resultType="int">
        SELECT Count(*) FROM employee_info where employee_bankId = #{bankId};
    </select>
    <select id="queryEmployeeInfos" parameterType="map" resultMap="employeeMap">
        SELECT *
          FROM employee_info
         where employee_bankId = #{bankId}
         <if test="limit != 0">
             limit #{page},#{limit}
         </if>
    </select>
    <insert id="addEmployeeInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.cn.bank.model.Employee">
      insert into employee_info(employee_id,employee_bankId,employee_name,employee_role,employee_identity
                            ,employee_workDate,employee_inDate,employee_outDate,employee_address
                            ,employee_speciality,employee_inCome)
      values(#{employeeId},#{employeeBankId},#{employeeName},#{employeeRole},#{employeeIdentity},
            #{employeeWorkDate},#{employeeInDate},#{employeeOutDate},#{employeeAddress},#{employeeSpecialty},#{employeeInCome})
    </insert>
    <update id="editEmployeeInfo" parameterType="com.cn.bank.model.UpdateEmployeeInfo">
      update employee_info set ${filed}=#{value} where id=#{id}
    </update>
    <delete id="delEmployeeInfo" parameterType="com.cn.bank.model.UpdateEmployeeInfo">
        delete from employee_info where id=#{id}
    </delete>
</mapper>